Repository ChainSafe/fil-secondary-retrieval-markets, pull requests merged in 2020-07, with the labels that each got.

#49 add cache interface to provider, implement MockCache
  cache/mock.go
  cache/mock_test.go
  provider/cache.go
  provider/provider.go
  provider/provider_test.go
  test/basic_test.go
Labels: Provider, Status: Merge Ready

#52 add Record type, update RequestCache interface and MockCache
  cache/mock.go
  cache/mock_test.go
  cache/record.go
  provider/cache.go
Labels: Cache, Status: Needs Review

#53 cache: implement LFUCache
  cache/lfu.go
  cache/lfu_test.go
  cache/mock_test.go
  go.mod
  go.sum
Labels: Cache, Status: Needs Review

#58 client CLI
  cmd/handler.go
  cmd/main.go
  go.mod
  go.sum
  test/basic_test.go
Labels: Client, Status: Needs Review

#65 Minor fixes
  .travis.yml
  client/client.go
  test/basic_test.go
Labels: Status: Needs Review, Type: Maintenance

#63 add bootnodes flag to client CLI
  cmd/main.go
  cmd/network.go
  cmd/network_test.go
  network/network.go
Labels: Networking, Status: Needs Review

#64 implement subscriptions for provider
  provider/provider.go
  provider/provider_test.go
Labels: Provider, Status: Merge Ready

#57 implement 3 client, 3 provider test and multi-provider test
  .travis.yml
  client/client.go
  test/basic_test.go
Labels: Status: Needs Changes, Testing, Type: Bug

#68 update Query, QueryResponse to use Params
  client/client.go
  client/client_test.go
  cmd/main.go
  go.mod
  go.sum
  provider/provider.go
  provider/provider_test.go
  shared/query.go
  test/basic_test.go
Labels: Status: Needs Review

#70 add RetrievalProviderStore interface
  provider/provider.go
  provider/provider_test.go
  provider/store.go
  test/basic_test.go
Labels: Provider, Status: Needs Review

#71 implementing pricing options for provider
  client/client_test.go
  go.mod
  go.sum
  provider/provider.go
  provider/provider_test.go
  shared/query.go
  test/basic_test.go
Labels: Provider, Status: Needs Review

#72 CLI Updates
  .gitignore
  Makefile
  README.md
  cmd/retrieval-client/handler.go
  cmd/retrieval-client/main.go
  cmd/retrieval-client/network.go
  cmd/retrieval-client/network_test.go
  shared/query.go
Labels: CLI, Status: Needs Review

#73 provider cmd
  Makefile
  cmd/retrieval-client/main.go
  cmd/retrieval-provider/main.go
  cmd/retrieval-provider/sample_data.json
  cmd/retrieval-provider/store.go
  cmd/utils/network.go
  cmd/utils/network_test.go
  go.mod
  go.sum
  provider/provider.go
  shared/query.go
Labels: Provider, Status: Needs Review
